*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4e085f) ;
    padding: 10px;
}
.to-do{
    width:100%;
    max-width: 540px;
    background: #ffff;
    margin:100px auto ;
    padding:40px 30px 70px;
    border-radius:1rem;
    align-items: center;
    
}
.to-do img{
    width:30px;
    height:30px;
}
.text{
    margin-top: 15px;
     display:flex;
     align-items: center;
     justify-content: space-between;
     background: #edeef0;
     border-radius: 30px;
     padding-left: 20px;
     margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding:16px 50px;
    background: #ff5945;
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2rem;

}
ul li{
    position: relative;
    list-style: none;
    font-size:22px;
    padding: 5px;
    cursor: pointer;
}
ul li span{
    position: absolute;
    right:40px;
    top:5px;
    
    padding: 10px;
}
ul li span:hover{
    background-color: #d8dce562;
}